*{
  font-family: Quicksand, Helvetica, sans-serif;
}

form{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: #407C82;
  justify-content: center;
  column-width: 500px; 
}

.question{
  border-radius: 20px;
  background-color: #d3f0ec;
  padding: 10px;
  margin: 20px;
}

.question h4{
  margin: 10px;
  padding: 0px;
}

h1{
  margin: 10px;
  padding: 50px;
  text-align: center;
  font-size: 200%; 
}

h3{
  /*background-color: #ddf7cb;*/
  margin: 20px;
  border-radius: 15px;
  color: #A8295D
}

.topnav {
  background-color: #407C82;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #95E4E8;
  color: #FFFFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  background-color: #407C82;
}

/*Heart Animation adapted from https://www.youtube.com/watch?v=xpY7W2gpuFY&t=327s*/
.heart{
  background-color: #A8295D;
  width: 100px;
  height: 100px;
  margin: 100px;
  transform: rotate(-45deg);
  animation: 1s beating infinite alternate ;

  &::after,
  &::before {
    content: '';
    position: absolute;
    background-color: #95E4E8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &::after{
    top: 0;
    bottom: 50px;
  }
  &::before{
    left: 0;
    top: -50px;
  }
  @keyframes beating {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
}